/* Theme */
@layer base {
  :root {
    --background: var(--zinc-50);
    --foreground: var(--zinc-950);

    /* Primary */
    --primary: var(--zinc-900);
    --primary-accent: var(--zinc-800);
    --primary-foreground: var(--zinc-50);

    /* Secondary */
    --secondary: var(--zinc-200);
    --secondary-accent: var(--zinc-100);
    --secondary-foreground: var(--zinc-950);

    /* Error */
    --error: var(--rose-500);
    --error-accent: var(--rose-400);
    --error-foreground: var(--rose-50);

    /* Warning */
    --warning: var(--amber-500);
    --warning-accent: var(--amber-400);
    --warning-foreground: var(--amber-50);

    /* Info */
    --info: var(--sky-500);
    --info-accent: var(--sky-400);
    --info-foreground: var(--sky-50);

    /* Success */
    --success: var(--emerald-500);
    --success-accent: var(--emerald-400);
    --success-foreground: var(--emerald-50);

    /* shadcn.ui colors */

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --border: var(--zinc-200);
    --radius: 0.5rem;
  }

  .dark {
    --background: var(--zinc-950);
    --foreground: var(--zinc-50);

    /* Primary */
    --primary: var(--zinc-100);
    --primary-accent: var(--zinc-200);
    --primary-foreground: var(--zinc-950);

    /* Secondary */
    --secondary: var(--zinc-800);
    --secondary-accent: var(--zinc-900);
    --secondary-foreground: var(--zinc-50);

    /* Error */
    --error: var(--rose-700);
    --error-accent: var(--rose-800);
    --error-foreground: var(--rose-50);

    /* Warning */
    --warning: var(--amber-700);
    --warning-accent: var(--amber-800);
    --warning-foreground: var(--amber-50);

    /* Info */
    --info: var(--sky-700);
    --info-accent: var(--sky-800);
    --info-foreground: var(--sky-50);

    /* Success */
    --success: var(--emerald-700);
    --success-accent: var(--emerald-800);
    --success-foreground: var(--emerald-50);

    /* shadcn/ui colors */

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
    --border: var(--zinc-800);
  }
}
